{{comments}}
<div class="product">
<span class="title">{{namerev}}</span>
<span class="homepage"><a href="{{url}}">homepage</a></span>
<input type="checkbox" hidden id="{{name}}">
<label class="show" for="{{name}}"></label>
<div class="licence">
<pre>{{licenses_txt}}</pre>
<ul>
{{licenses_ptr}}
</ul>
</div>
</div>

