<div class="product">
<a name="{{license_name}}" class="title">{{license_type}} License {{license_name}}</a>
<input type="checkbox" hidden id="{{license_name}}">
<label class="show" for="{{license_name}}"></label>
<div class="licence">
<pre>
{{license}}
</pre>
<div class="license-packages">
Used by these packages: {{license_packages}}
</div>
</div>
</div>
